.product {
  height: 508px;
  border: 0.5px solid #95a0a7;
  border-radius: 10px;
  position: relative;
}

.product img {
  width: 96%;
  height: 286px;
  border-radius: 10px;
  margin: 8px 7px;
}

.product_info {
  margin-left: 14px;
  line-height: 5px;
}
.product_info h6 {
  color: #0e161a;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.032px;
  margin-top: 10px;
  margin-bottom: 0;
}
.product_info h5 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.032px;
  margin-bottom: 45px;
  margin-top: 15px;
}
.product button {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #95a0a7;
  background: #ffe0b3;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.product button:hover {
  background: orange;
}
